{% include 'header.html' %}
{% load static %}

<div class="main-content" id="panel" style="margin-top:10px;">
    {% if messages %}
        <div class="messages" style="margin-right:32px;">
            {% for message in messages %}
                <div class="alert alert-primary" {% if message.tags %}
                     class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="row container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="row align-items-center">
                            <h4 class="text-blod" style="padding-left:20px;">Survey List</h4>
                        </div>

                    </div>
                    <div class="card-body">
                    <div class="row mb-2">
                        <a href="{% url 'add_new_survey' %}"><button class="btn btn-primary" style="float: right;">Add New Survey</button></a>
                    </div>
                        <table class="table mt-3">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">Sl</th>
                              <th scope="col">Company Name</th>
                              <th scope="col">Address</th>
                              <th scope="col">Contact Person Name</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for s in survey %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td>
                                  {{ s.company_name }}
                                  <br><small>{{ s.created_at }}</small>
                              </td>
                              <td>{{ s.company_address }}</td>
                              <td>{{ s.contact_person_name }}
                                  <br><small>{{ s.contact_person_email }}</small></td>
                              <td>
                                  <a href="" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                  <a href="{% url 'update_survey' id=s.id %}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                  <a href="{% url 'remove_survey' id=s.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

