{% include 'header.html' %}
{% load static %}

<div class="main-content" id="panel" style="margin-top:10px;">
    {% if messages %}
        <div class="messages" style="margin-right:32px;">
            {% for message in messages %}
                <div class="alert alert-primary" {% if message.tags %}
                     class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-12 mt-2">
                    <a href="">
                        <button type="submit" class="btn btn-primary float-right ml-2"><i class="fa fa-plus-circle"></i>&nbsp;Add
                            Sub District
                        </button>
                    </a>
                    <a href="">
                        <button type="submit" class="btn btn-primary float-right ml-2"><i class="fa fa-plus-circle"></i>&nbsp;Add
                            District
                        </button>
                    </a>
                    <a href="{% url 'add_new_division' %}">
                        <button type="submit" class="btn btn-primary float-right ml-2"><i class="fa fa-plus-circle"></i>&nbsp;Add
                            Division
                        </button>
                    </a>
                    <a href="{% url 'add_new_country' %}">
                        <button type="submit" class="btn btn-primary float-right ml-2"><i class="fa fa-plus-circle"></i>&nbsp;Add
                            Country
                        </button>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="row align-items-center">
                        <h4 class="text-blod" style="padding-left:20px;">Add New Country</h4>
                    </div>

                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="">Country Name <span style="color:red;">*</span></label>
                                <input type="text" name="country_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mt-2">
                                <button type="submit" class="btn btn-primary mt-4">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header bg-primary">Country List</div>
                <div class="card-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Sl</th>
                          <th scope="col">Country Name</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for get_country in get_country %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td>{{ get_country.country_name }}</td>
                              <td>
                                  <a href=""><button class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button></a>
                                  <a href=""><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a>
                              </td>

                            </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

